---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>

<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content">
  {% for slide in page.sliders %}
  <h2 class="section-heading">{{ slide.description }}</h2>
  <div class="slider-{{slide.description | slugify}}">
    {% for image in slide.images %}
    <div>
      <img src="{{site.url}}{{site.baseurl}}/{{slide.folder}}/{{image.name}}" />
      <div class="caption"> {{image.text}} </div>
    </div>  
    {% endfor %}
  </div>
  <div class="slider-nav-{{slide.description | slugify}}">
    {% for image in slide.images %}
    <div>
      <img style="height:120px;" src="{{site.url}}{{site.baseurl}}/{{slide.folder}}/{{image.name}}" />
    </div>  
    {% endfor %}
  </div>
  </article>
  

<script type="text/javascript">
    $(document).ready(function(){
      $('.slider-{{slide.description | slugify}}').slick({
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear',
  autoplay: true,
  autoplaySpeed: 3000,
  infinite: true,
  asNavFor: '.slider-nav-{{slide.description | slugify}}',
  arrows: false
      });

$('.slider-nav-{{slide.description | slugify}}').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  asNavFor: '.slider-{{slide.description | slugify}}',
  dots: true,
  centerMode: true,
  focusOnSelect: true,
  variableWidth: true
});

    });
  </script>
  {% endfor %}





</div>
