---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>

<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content">
  <div class="slides">
  {% for slide in page.sliders %}
    {% for image in slide.images %}
    <div>
      <img src="{{site.url}}{{site.baseurl}}/{{slide.folder}}/{{image.name}}" />
      <div class="caption"> {{image.text}} </div>
    </div>  
    {% endfor %}
  {% endfor %}
  </div>


  <div class="slider-nav">
  {% for slide in page.sliders %}
    {% for image in slide.images %}
    <div>
      <img style="height:120px;" src="{{site.url}}{{site.baseurl}}/{{slide.folder}}/{{image.name}}" />
    </div>  
    {% endfor %}
  {% endfor %}
  </div>
  </article>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.slides').slick({
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear',
  autoplay: true,
  autoplaySpeed: 3000,
  infinite: true,
  asNavFor: '.slider-nav',
  arrows: false
      });

$('.slider-nav').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  asNavFor: '.slides',
  dots: true,
  centerMode: true,
  focusOnSelect: true,
  variableWidth: true
});

    });
  </script>


</div>
