---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>

<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content">
  <div class="slides">
  {% for slide in page.sliders %}
    {% for image in slide.images %}
    <div>
      <img src="{{site.url}}{{site.baseurl}}/{{slide.folder}}/{{image.name}}" />
    </div>  
    {% endfor %}
  {% endfor %}
  </div>
  </article>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.slides').slick({
	 dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear'
//        setting-name: setting-value
      });
    });
  </script>


</div>
